<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <style>
  .sort-asc:after {
    content: '▲'
  }
  .sort-desc:after {
    content: '▼'
  }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
